:root {
    /* Light Mode */
    --bg: #efefef;
    --accent: #2e2e2e
}
#title {
    font-size: 23pt;
}

.main-container {
    position: relative;
}

.flag {
    min-width: 190px;
    min-height: 130px;
    max-width: 190px;
    max-height: 130px;
    /* border:  solid var(--accent); */
    border-radius: 15px;
}

.info-container {
    background: rgba(0, 0, 0, 0.129);
    backdrop-filter: blur(14px);
    border: 3px solid rgba(240, 248, 255, 0.237);
    color: var(--bg);
    display: grid;
    place-items: center;
    position: relative;
    left: 180%;
    top: 70px;
    border-radius: 11px;
}
